mixin footer()
    footer.fixed-bottom.page-footer.font-small.blue.pt-4.mt-4
        .container-fluid.text-center.text-md-left
            .row
                p
                | Created by:
                p
                | Valentin Anchev, Zhitomir Oreshenski, Mirela Tsvetkova
                p
                | All rights reserved.