mixin footer()
    footer.fixed-bottom.page-footer.font-small.blue.pt-4.mt-4
        .container-fluid.text-center.text-md-left
            .row
                p.main-font-weight
                    span.glyphicon.glyphicon-globe
                    |  Created by: Valentin Anchev, Zhitomir Oreshenski, Mirela Tsvetkova
                p.main-font-weight
                    | &copy; 2018 Copyright:  
                    span.glyphicon.glyphicon-cog(aria-hidden='true') 
                    |  myForum