mixin nav()
    nav.main-nav.navbar-inverse
        .container-fluid
            .navbar-header
                p.navbar-brand
                    | Discussion Forum
            ul.nav.navbar-nav
                li.active
                    a(href="#")
                        | Home
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown" href="#")
                        | Page1
                        span.caret
                        ul.dropdown-menu
                            li
                                a(href="#")
                                    | Page1
                            li
                                a(href="#")
                                    | Page2

            form.navbar-form.navbar-left(action="/action_page.php")
                div.input-group
                    input(type="text" class="form-control" placeholder="Search" name="search")
                    div.input-group-btn
                        button.btn.btn-default(type="submit")
                            i.glyphicon.glyphicon-search

            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/sign-up")
                        span.glyphicon.glyphicon-user
                            | Sign Up
                li
                    a(href="/login")
                        span.glyphicon.glyphicon-log-in
                            | Login
        
