mixin nav()
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                a.navbar-brand(href='/') MyForum
            ul.nav.navbar-nav
                li.active
                    a(href='/') 
                        | Home
            form.navbar-form.navbar-right(action="/search")
                div.input-group
                    if search
                        if search.in === 'threads'
                            input(type="text" class="form-control" placeholder="Search in Threads.." name="search")
                            input(type="hidden" name="category" value=search.catName)
                        else if search.in === 'posts'
                            input(type="text" class="form-control" placeholder="Search in Posts.." name="search")
                            input(type="hidden" name="thread" value=search.threadId)
                    else
                        input(type="text" class="form-control" placeholder="Search in Categories.." name="search")
                    div.input-group-btn
                        button.btn.btn-default(type="submit")
                            i.glyphicon.glyphicon-search
            ul.nav.navbar-nav.navbar-right
                if user
                    li.active
                        a
                            =user.username
                    li.active
                        a(href="/logout")
                            | Log out
                else
                    li.active
                        a(href="/sign-up")
                            span.glyphicon.glyphicon-user
                            |  Sign Up
                    li.active
                        a(href="/login")
                            span.glyphicon.glyphicon-log-in
                            |  Login