mixin addComment-modal()
    #addComment-modal.modal.fade( tabindex='-2', role='dialog', aria-labelledby='commentModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-body
                .col.el.col-5.col-sm-5.col-md-5.newComment
                    form(method='post', action='/Post/createPost', id='comment')
                        .form-group
                        label.cols-sm-2.control-label(for='name') 
                            | Type your post here ...
                        div
                        i.fa.fa-pencil.fa(aria-hidden='true')
                        .postTitle-wrapper
                            input#postTitle.form-control(name='title' placeholder=' New Post...', required)
                        .postContent-wrapper
                            textarea#postContent.form-control(rows='5'  name='content' placeholder='New content', required)
                        input(type="hidden" name='ThreadId' value=ThreadId, required)
                        input(type="hidden")
                        if user
                            button#createPost-btn.btn-answer.btn.btn-primary(type='submit' formmethod='post') 
                                | Save changes
                        else 
                            p.error-message
                                |  You have to be logged in to create new Post.