extends ../_shared/master

block content
    .container
        ul
            each thread, index in threads
                .row
                a(href='/' + thread.title )
                    .col.el.col-sm-1.col-md-1.col-lg-1
                        | picture
                    .col.el.col-sm-7.col-md-7.col-lg-7
                        h5
                             =thread.title
                        p
                            
                    .col.el.col-sm-2.col-md-2.col-lg-2
                        p
                            a(href='')
                            = 'Posts:' + posts[index].length
                    .col.el.col-sm-2.col-md-2.col-lg-2
                        p
                            = 'Last Post From:'
                        a
                            =  posts[index][0].username
                        p
                            = 'Date:' + posts[index][0].createdAt
