extends ../_shared/master
block extra
    title Create Category
block content 
    .createPost
        form(action='/Category/createCategory' method='POST')  
            input(type='text' name='catName' placeholder='Category name...')
            input(type='text' name='description' placeholder='Category description...')
            button.btn(type='submit') Create category
            