extends ../_shared/master

block content
    //- .container
    //-     ul
    //-         each cat in allCategories
    //-             .row
    //-                 .col.el.col-sm-6.col-md-6.col-lg-6
    //-                     =cat.catName
    //-                     =cat.description
    //-                 .col.el.col-sm-1.col-md-1.col-lg-1
    //-                     | 2
    //-                 .col.el.col-sm-1.col-md-1.col-lg-1
    //-                     | 2
    //-                 .col.el.col-sm-3.col-md-3.col-lg-3
    //-                     | Lorem ipsum dolor sit amet.
                       
    .container
        ul
            each cat in allCategories
                .row
                    .col-lg-1
                        =cat.catName
                        =cat.description
                    .col-lg-7
                    .col-lg-1
                    .col-lg-3







//- block content
//-     .container
//-         ul
//-             each cat in allCategories
//-                 .row
//-                     .col.el.col-sm-4.col-md-4.col-lg-4
//-                         =cat.catName
//-                     .col.el.col-sm-4.col-md-4.col-lg-4
//-                         =cat.description

                
        
            
        //- .row
        //-     .col.el.col-sm-8.col-md-8.col-lg-8
        //-         | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum quasi molestias quo dolorem laborum. Eligendi porro dolore sunt nisi, non autem sed, voluptatem tempora incidunt quod ex a quidem molestiae illum, consequuntur quibusdam iste officiis. Culpa earum beatae laborum iusto, facere possimus sequi a consectetur quam numquam commodi facilis quidem!
        //-     .col.el.col-sm-4.col-md-4.col-lg-4
        //-         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus earum repellendus quia magni illum assumenda cupiditate ducimus ipsam, ut inventore culpa deserunt eos! Magni, cum!
        //- .row
        //-     .col.el.col-sm-8.col-md-8.col-lg-8
        //-         | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum quasi molestias quo dolorem laborum. Eligendi porro dolore sunt nisi, non autem sed, voluptatem tempora incidunt quod ex a quidem molestiae illum, consequuntur quibusdam iste officiis. Culpa earum beatae laborum iusto, facere possimus sequi a consectetur quam numquam commodi facilis quidem!
        //-     .col.el.col-sm-4.col-md-4.col-lg-4
        //-         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus earum repellendus quia magni illum assumenda cupiditate ducimus ipsam, ut inventore culpa deserunt eos! Magni, cum!
        //- .row
        //-     .col.el.col-sm-8.col-md-8.col-lg-8
        //-         | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum quasi molestias quo dolorem laborum. Eligendi porro dolore sunt nisi, non autem sed, voluptatem tempora incidunt quod ex a quidem molestiae illum, consequuntur quibusdam iste officiis. Culpa earum beatae laborum iusto, facere possimus sequi a consectetur quam numquam commodi facilis quidem!
        //-     .col.el.col-sm-4.col-md-4.col-lg-4
        //-         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus earum repellendus quia magni illum assumenda cupiditate ducimus ipsam, ut inventore culpa deserunt eos! Magni, cum!
        //- .row
        //-     .col.el.col-sm-8.col-md-8.col-lg-8
        //-         | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum quasi molestias quo dolorem laborum. Eligendi porro dolore sunt nisi, non autem sed, voluptatem tempora incidunt quod ex a quidem molestiae illum, consequuntur quibusdam iste officiis. Culpa earum beatae laborum iusto, facere possimus sequi a consectetur quam numquam commodi facilis quidem!
        //-     .col.el.col-sm-4.col-md-4.col-lg-4
        //-         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus earum repellendus quia magni illum assumenda cupiditate ducimus ipsam, ut inventore culpa deserunt eos! Magni, cum!
    //- .container
    //-     .row
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem
    //-     .row
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem
    //-     .row
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem
    //-         .col.col-sm-4.col-md-4.col-lg-4
    //-             | lorem