extends ../_shared/master
block content                    
    .container
        ul
            each cat in allCategories
                .row
                    .col-lg-1

                    .col-lg-7
                        =cat.catName
                        =cat.description
                    .col-lg-1
                    .col-lg-3
