extends ../_shared/master

block content
    .container
        .row
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem
        .row
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem
        .row
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem
            .col.col-sm-4.col-md-4.col-lg-4
                | lorem