extends ../_shared/master
include ./login-modal

block content
    .container
        .row
<<<<<<< HEAD
            a(href='/Category/createCategory') 
                button(type="button")  Create new post
            each cat, index in allCategories
                .row
                a(href='/Category/'+cat.catName)
                    .col.el.col-sm-1.col-md-1.col-lg-1
                        | picture
                    .col.el.col-sm-7.col-md-7.col-lg-7
                        a(href='/Category/'+ cat.catName)
                            h4
                                =cat.catName
                            p
                                =cat.description
                    .col.el.col-sm-2.col-md-2.col-lg-2
                        p
                            a(href='#')
                                = 'Threads:' + threadsCount[index].length
                        p
                            = 'Posts:' + sortedPosts[index].len
                    .col.el.col-sm-2.col-md-2.col-lg-2
                        p
                            = 'From:'+ sortedPosts[index].username
                        p
                            = 'Date:' + sortedPosts[index].createdAt
block foot
=======
            .col.el.col-sm-1.col-md-1.col-lg-1
            .col.el.col-sm-6.col-md-6.col-lg-6
                div
                    | Forum
            .col.el.col-sm-2.col-md-2.col-lg-2
                div
                    | Statistics
            .col.el.col-sm-3.col-md-3.col-lg-3
                div
                    | Answers
        each cat, index in allCategories
            .row
                .col.el.col-sm-1.col-md-1.col-lg-1
                    | picture
                .col.el.col-sm-6.col-md-6.col-lg-6
                    a(href='/Category/'+ cat.catName)
                        h4
                            =cat.catName
                    p
                        =cat.description
                .col.el.col-sm-2.col-md-2.col-lg-2
                    p
                        a(href='#')
                            = 'Threads: ' + threadsCount[index].length
                    p
                        if sortedPosts[index].len
                            = 'Posts: ' + sortedPosts[index].len
                        else
                            | Posts: 0
                .col.el.col-sm-3.col-md-3.col-lg-3
                    p
                        if sortedPosts[index].username
                            = 'From: '+ sortedPosts[index].username
                        else
                            = req.user.username
                    p
                        if sortedPosts[index].createdAt
                            = 'Date: ' + sortedPosts[index].createdAt
                        else
                            = 'Date: ' + cat.createdAt
        a(href='/Category/createCategory') 
            button(type="button") Create Category
    if logged
        button#login-modal-btn.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#login-modal', style="display:none") Open Modal
        +login-modal()
>>>>>>> a584e24f789a786012cc50cce010212746170ff2
