extends ../_shared/master

block content
    .container
        .row
            a(href='/createPost') 
             button(type="button")  Create new post
            each cat, index in allCategories
                .row
                a(href='/Category/'+cat.catName)
                    .col.el.col-sm-1.col-md-1.col-lg-1
                        | picture
                    .col.el.col-sm-7.col-md-7.col-lg-7
                        a(href='/'+ cat.catName)
                         h4
                            =cat.catName
                        p
                            =cat.description
                    .col.el.col-sm-2.col-md-2.col-lg-2
                        p
                            a(href='#')
                                = 'Threads:' + threadsCount[index].length
                        p
                            = 'Posts:' + postsCount[index].length
                    .col.el.col-sm-2.col-md-2.col-lg-2
                        p
                            = 'From:'+ lastPosts[index].name
                        p
                            = 'Date:' + lastPosts[index].createdAt
                