extends ../_shared/master
block extra
 title Create post
block content 

    each post in posts
                .row
                .col.el.col-sm-1.col-md-1.col-lg-1
                        | picture
                .col.el.col-sm-7.col-md-7.col-lg-7
                        h4
                            
                        =post.title
                        div
                            h5#answerUl
                            div 
                            h4  
                            .col.el.col-sm-8.col-md-8.col-lg-8
                             button#answer.btn.btn-default.btn-lg(type='button') Answer
                each answer in answers
                 .row
                 .answerContent.col.col-sm-offset-3.col-sm-5
                     =answer.answerContent +' said by: '+ answer.UserId
                    
    
