body {
    background: #f7f5fa !important;
}

.main-nav {
    border-radius: 5px;
}

ul.active>li>a {
    color: #FFF;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: silver;
}

.navbar.header {
    min-height: 44px !important;
    background: #337ab7;
    color: #FFF;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    background: none !important;
}

.navbar-brand {
    color: #FFF !important;
}

.nav>li {
    border-right: 2px solid #F7F7F7;
}

.navbar-right>li:nth-child(2) {
    border: none;
}

.search-input {
    margin-left: 10px;
}

/* .row {
    margin-top: 5px;
} */

.col {
    /* background-color: aquamarine; */
    /* border-right: 5px solid white; */
}

.createPost {
    background-color: #337ab7;
    border: 2px solid #030033;
    margin-left: 500px;
    margin-top: 60px;
    width: 330px;
    word-spacing: 3px;
    padding: 3px;
    align-items: center;
}

.createPost input {
    align-items: center;
    padding: 15px;
    margin-left: 50px;
}

#answerLi {
    border: 2px solid rgb(51, 46, 46);
    width: 400px;
    height: 100px;
    margin-left: 100px;
    margin-bottom: 35px;
    padding: 10px;
    background-color: lightgrey
}

<<<<<<< HEAD
#answer {
    color: black;
}

.answerContent {
    border: 1 px solid white;
    margin: 12px 0;
}

.answers div {
    border: 1px solid wheat;
    padding: 5px 10px;
    background-color: rgb(216, 191, 216, 0.5);
    font-weight: bold;
}

.answers div h6 {
    text-align: right;
}


=======
>>>>>>> a584e24f789a786012cc50cce010212746170ff2
/*
a:hover .glyphicon {
    text-decoration: none;
    background: none !important;
}



.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #000;
}

.navbar-default {
    background-color: #210e9c;
    border-color: #030033;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: silver;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.btn.btn-default {
    margin-right: 20px;
} */

.newThread {
    background-color: rgb(203, 240, 144);
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid rgb(151, 199, 226);
    width: 550px;
    height: 350px;
}

.newComment {
    background-color: rgb(144, 218, 240);
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid rgb(151, 199, 226);
    width: 550px;
    height: 350px;
}

.newThread input {
    margin: 7px 0;
}

.newThread textarea {
    width: 480px;
    border-radius: 3px;
}

.signForm {
    border: 2px solid #030033;
    margin-left: 500px;
    margin-top: 60px;
    width: 330px;
    word-spacing: 3px;
    padding: 3px;
    align-items: center;
    z-index: 1;
}

.signForm h2 {
    text-align: center;
    margin-bottom: 30px;
}

.signForm input {
    margin-bottom: 20px;
    margin-left: 10px;
    /* text-align: center; */
}

.signForm button {
    background-color: deepskyblue;
    color: black;
    font-weight: bold;
    margin-left: 115px;
}


/* .signForm :hover {
     background-color: darkorchid;
} */

.mainTable th,
td {
    border: 2px solid black;
}

footer {
    /* background-color: #210e9c;
    color: gray; */
    background-color: #08080a;
    color: #FFF;
    margin-top: 1000px;
    /* position: fixed; */
    height: 100px;
    bottom: 0;
    width: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}

body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #f7f5fa;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
<<<<<<< HEAD
}
=======
}

.category-heading {
    margin: 0 auto;
    font-size: 14px;
}

.label-primary {
    background-color: black;
}

/* .row {
    border: 1px solid;
} */

/* .row+.row {
    border-top: 0;
} */

/*** Middlewares ***/

.error-message {
    color: #FF0000;
}

>>>>>>> a584e24f789a786012cc50cce010212746170ff2
